span[class*="expandedFolderBackground-"] {
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: -3.5px;
}

div[class*="expandedGuilds-"] {
  // get rid of the huge empty space at the bottom. hackily.
  margin-bottom: -20px;
  display: inline;
  height: unset !important;

  div[class*="listItem-"] {
    &:first-child {
      margin-left: 6px;
    }
    margin: 0 2px;
    width: 48px;
  }
}

& > div[class*="listItem-"] {
  width: 48px;
}
