[class^="numberBadge-"] {
  height: 18px;
  width: 16px;
  border-radius: 3px;
}

div[class*="flex-"][class*="horizontal-"][class*="directionRow-"][class*="justifyStart-"][class*="alignStretch-"][class*="noWrap-"][class*="container-"]
  > div[class^="wrapper-"] {
  @import "./settings.scss";

  $guild-icon-width: 58px;
  $guild-list-width: calc(#{$guild-icon-width} * #{$guild-columns});

  &,
  & [class*="scrollerWrap-"] {
    width: $guild-list-width; // 187.5px;
  }

  @import "./unreads";

  // [class*="scrollerWrap-"] {
  //   width: calc(75px * #{$guild-columns}); // 225px;
  // }

  /* other stuff for columns */

  div[class*="scroller-"] {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0;
    align-content: flex-start;

    @if $guild-columns-center {
      justify-content: center;
    }

    @import "./dmList";

    @import "./upperFix";

    @import "./guildIcon";
  }
}
