div[class*="flex-"][class*="flex-"][class*="horizontal-"][class*="horizontal-"][class*="directionRow-"][class*="justifyStart-"][class*="alignStretch-"][class*="noWrap-"][class*="container-"][class*="firefoxFixScrollFlex-"] > div[class^="wrapper-"] {
  // div[class*="guildsWrapper-"] {
  @import "./settings.scss";
  content: $guild-columns;
  width: calc(62.5px * #{$guild-columns}); // 187.5px;

  [class*="scrollerWrap-"] {
    width: calc(75px * #{$guild-columns}); // 225px;
  }

  /* other stuff for columns */

  div[class*="scroller-"] {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0;
    align-content: flex-start;

    @import "./dmList";

    @import "./upperFix";

    @import "./guildIcon";
  }
}
