// Channel list pane; guild name+channel list
[class*="channels-"],
// channel list in DMs
[class*="privateChannels-"],
// just channel list
[class*="sidebar-"] {
  background: $channel-list-bg !important;
  & > [class*="container-"],
  & > [class*="scrollerWrap-"] > [class*="scroller-"] {
    background: transparent;
  }
}

[class*="panels-"] {
  background: $channel-list-bg !important;
}
