[class*="wrapper-"][class*="guilds-"] {
  background-color: $guild-list-bg !important;
  & > ul > div[class*="scroller-"] {
    background: transparent;
  }
}

[class*="guildSeperator-"]:after {
  background: rgba(0, 0, 0, 0.1) !important;
}
