$main-bg: transparent !default;

$message-pane-bg: transparent !default;
$member-list-bg: transparent !default;

$channel-list-bg: transparent !default;
$guild-list-bg: transparent !default;
$channel-title-bg: transparent !default;

$codeblock-bg: transparent !default;

$selected-channel-bg: transparent !default;
$hovering-channel-bg: transparent !default;
$channel-name-color: #aaa !default;
$timestamp-color: #fff !default;

$scrollbar-thumb: rgba(0, 0, 0, 0.5) !default;
$scrollbar-background: rgba(0, 0, 0, 0.2) !default;
$scrollbar-width: 8px !default;
