@import "./settings";

#app-mount > [class*="app-"] > [class*="container-"]:after,
#splash:after,
#app-mount:after {
  z-index: -10000;
  content: " ";
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $background;
  background-size: cover;
  background-position: center;
  filter: $background-filters;
  // animation: background-animate infinite alternate step-end 2560000s;
}
#splash:after {
  background-size: $screen-width
    (($background-height / $background-width) * $screen-width) !important;
  background-position-y: $background-y;
}

// @keyframes background-animate {
//   $max: 9999;
//   $now: random(9999);
//   @for $i from 0 through $max {
//     #{100% * $i / $max} {
//       $prev: $i - 1;
//       $next: $i + 1;
//       background: url("https://picsum.photos/1920/1080?random&_=#{$now$i}"),
//         url("https://picsum.photos/1920/1080?random&_=#{$now$prev}"),
//         url("https://picsum.photos/1920/1080?random&_=#{$now$next}");
//     }
//   }
// }
