$background: url("https://placehold.it/1024x768") !default;
$background-filters: blur(5px) !default;

$background-height: 768px !default;
$background-width: 1024px !default;
$screen-width: 1366px !default;
$background-y: center !default;
